<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet"> 
  </head>

  <body>
  

		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	         
	          <a id="brand" class="navbar-brand">Home</a>
	        </div> 
	        <% if (!user) { %>
	        <div class="navbar-header navbar-right">
	         
	          <a id="brand" class="navbar-brand" href="/login">Login</a>
	        </div>
	        <% } else { %>
	        <div class="navbar-header navbar-right">
	       
	          <a id="brand" class="navbar-brand" href="/logout">Logout</a>
	        </div>
			<% } %>
	    
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->

    
    <div id="texto">

    <% if (!user) { %>
    <% console.log("----usuario en index "+user);%>
		<h2>Welcome! Please log in.</h2>
	<% } else { console.log("----usuario en index "+user.username+" "+info);%>
		<h2>Welcome <%=user.username%>! You have successfully logged in !</h2>
	<% if(info){ %>
	<div class="row">
	<% for (var i = 0; i < info[0].cantFiles; i++) { %> 
	<% console.log("----info en index "+info[i]); %>

		<div>
			<div class="img" style="background-image:url('<%=info[i].image.href%>');">
				
			</div>
			<br>
		      <a href=<%=info[i].image.downloadUrl%>>
				<div class="caption">
			        <h4><%=info[i].image.name %></h4>
			    </div>
			   </a>
		    </div>      
	<% } %>
	</div>
	<%}} %>
	
	</div>

  </body>
  </html>

