<!DOCTYPE html>
<html>
	<head>
		<title>App TermosLP</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			</p>
		<% } else { console.log("----usuario"+Object.keys(user)); %>
			<p>
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>

</html>
